*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Manrope",sans-serif;
}

body{
background:#F7F4EE;
overflow-x:hidden;
}

.signup-page{
width:100%;
min-height:100vh;
display:grid;
grid-template-columns:1fr 1fr;
}

.signup-left{
background:linear-gradient(135deg,#FFF8F2,#FFFDFB);
padding:70px;
display:flex;
flex-direction:column;
justify-content:center;
position:relative;
overflow:hidden;
}

.logo{
width:180px;
margin-bottom:40px;
}

.signup-left h1{
font-size:58px;
font-family:"Playfair Display",serif;
line-height:1.1;
color:#1B1B1B;
margin-bottom:20px;
}

.signup-left span{
color:#A56A43;
}

.signup-left p{
font-size:18px;
line-height:1.8;
color:#66635F;
max-width:520px;
margin-bottom:40px;
}

.food-image{
width:90%;
max-width:500px;
animation:floatImage 4s ease-in-out infinite;
}

.signup-right{
display:flex;
justify-content:center;
align-items:center;
padding:60px;
background:#FCFAF7;
}

.signup-card{
width:100%;
max-width:520px;
background:#fff;
padding:45px;
border-radius:28px;
box-shadow:0 20px 60px rgba(0,0,0,.08);
}

.signup-card h2{
font-size:40px;
font-family:"Playfair Display",serif;
margin-bottom:10px;
color:#1B1B1B;
}

.signup-card p{
color:#66635F;
margin-bottom:25px;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box input{
width:100%;
padding:18px 55px;
border:1px solid #ddd;
border-radius:50px;
font-size:16px;
outline:none;
transition:.3s;
}

.input-box input:focus{
border-color:#A56A43;
box-shadow:0 0 0 4px rgba(165,106,67,.12);
}

.input-box i:first-child{
position:absolute;
left:22px;
top:50%;
transform:translateY(-50%);
color:#888;
}

#togglePassword{
position:absolute;
right:22px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#888;
}

.strength{
margin-top:-5px;
margin-bottom:20px;
}

.strength-bar{
height:8px;
width:0%;
background:#ff4d4d;
border-radius:20px;
transition:.4s;
}

#strengthText{
display:block;
margin-top:8px;
font-size:14px;
color:#777;
}

.terms{
margin:20px 0;
font-size:15px;
color:#555;
}

.terms input{
margin-right:8px;
}

.signup-btn{
width:100%;
padding:18px;
border:none;
border-radius:50px;
background:#A56A43;
color:#fff;
font-size:17px;
font-weight:700;
cursor:pointer;
transition:.3s;
}

.signup-btn:hover{
background:#8B5736;
transform:translateY(-3px);
}

.login-link{
margin-top:25px;
text-align:center;
}

.login-link a{
text-decoration:none;
font-weight:700;
color:#A56A43;
}

@keyframes floatImage{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-15px);
}

100%{
transform:translateY(0);
}

}

@media(max-width:992px){

.signup-page{
grid-template-columns:1fr;
}

.signup-left{
display:none;
}

.signup-right{
padding:25px;
}

.signup-card{
padding:35px;
}

}
.input-box input{

transition:.35s;

}

.input-box input:focus{

transform:translateY(-2px);

}

.signup-btn{

transition:.35s;

}

.signup-btn:hover{

transform:translateY(-4px);

box-shadow:0 18px 35px rgba(165,106,67,.3);

}

.strength-bar{

transition:.4s;

}
